*
!.gitignore
!index.html
!README.md
!manifest.json
!manifest-*.json
!sw.js
!Wetter Tool/
!Wetter Tool/**
!worker/
!worker/**
!images/
!images/**
!vendor/
!vendor/**
!favicon.ico
!dossiers/
!dossiers/*.pdf
!kombi-rechner.html
