*
!.gitignore
!index.html
!README.md
!manifest.json
!manifest-varianten/
!manifest-varianten/*.json
!sw.js
!Wetter Tool/
!Wetter Tool/**
!worker/
!worker/**
!images/
!images/**
!vendor/
!vendor/**
!favicon.ico
!dossiers/
!dossiers/*.pdf
!kombi-rechner.html
!reisetag.html

# Mac-Systemdateien immer ignorieren, auch in freigegebenen Ordnern
.DS_Store
**/.DS_Store
